section.about{
    width: 1088px;
    margin: 0 auto;
    padding-top: 192px;
    display: flex;
    flex-direction: column;
}

.profilepicture{
    width: 260px;
    height: 260px;
    border-radius: 16px;
}

img.profilepicture{
    border: 1px solid #464646;
    transform: rotate(7deg);
    display: inline-block;
}

div.profilepicture{
    background: #FDC403;
    transform: rotate(-7deg);
}

.about-info{
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.about-badges{
    width: fit-content;
    border-radius: 8px;
    background: radial-gradient(circle at center -90px, #fdc40340 0, #15151540 60%);
    border: 1px solid #464646;
    backdrop-filter: blur(45px);
    --webkit-backdrop-filter: blur(45px);
    display: flex;
}

.badge{
    width: 48px;
    height: 48px;
    margin: 20px;
    background: #FDC403;
    cursor: pointer;
}

.adobe-visual-pro{
    background: url(../media/icons/adobe-certified-professional-in-visual-design.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.adobe-visual-ps{
    background: url(../media/icons/adobe-certified-professional-in-visual-design-using-adobe-photoshop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.adobe-graphic-ai{
    background: url(../media/icons/adobe-certified-professional-in-graphic-design-illustration-using-adobe-illustrator.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-info h3{
    font-family: 'MarkGeoCaps-Bold';
    font-size: 4rem;
    margin: 0;
    color: #FAFAFA;
}

.about-info a, .about-info p{
    font-family: 'MarkGeo-Medium';
    font-size: 2.4rem;
    margin: 0;
}

.about-info p{
    color: rgb(250, 250, 250, 0.6);
    line-height: 1.5;
}

.about-info a{
    color: rgb(253, 196, 3);
    float: right;
}

.about-introduction{
    display: flex;
}

h4{
    font-family: 'MarkGeoCaps-Bold';
    font-size: 2.4em;
    margin: 16px 0 12px 0;
    color: rgb(250, 250, 250);
}

.table-head{
    width: 100%;
    display: -webkit-inline-box;
    border: 1px solid #464646;
    border-radius: 16px 16px 0 0;
}

.table-head p:first-child{
    width: 53.5%;
}

.table-head p.seccond{
    width: 25.5%;
}

.table p{
    font-family: 'MarkGeo-Medium';
    font-size: 2.4rem;
    color: rgb(250, 250, 250, 0.7);
    margin: 0;
    padding: 16px;
}

.table-bottom section{
    display: table-cell;
}

.table-bottom{
    border: 1px solid #464646;
    border-top: 0;
    width: 100%;
    border-radius: 0 0 16px 16px;
    display: flex;
    justify-content: space-between;
}

.bottom-table:first-child{
    width: auto !important;
    padding: 16px 25% 16px 16px !important;
}

.bottom-table:last-child{
    width: auto !important;
    padding: 16px 0 16px 15.5% !important
}

.skills{
    display: flex;
    justify-content: space-between
}

.skills-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skill-icon{
    width: 48px;
    height: 48px;
    background-color: #464646;
}

.ps{
    background: url(../media/icons/ps.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.ai{
    background: url(../media/icons/ai.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.id{
    background: url(../media/icons/id.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.xd{
    background: url(../media/icons/xd.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.pr{
    background: url(../media/icons/pr.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.ae{
    background: url(../media/icons/ae.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.frontend{
    background: url(../media/icons/frontend.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.skill-name{
    margin: 0 16px;
}

.skill-progress{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

progress{
    -webkit-appearance: none;
    appearance: none;
    width: 72.5vh;
    height: 10px;
    margin: 20px 0;
}

progress::-webkit-progress-value{
    border-radius: 50px;
    background-color: #dc0049;
}

progress::-webkit-progress-bar{
    border-radius: 50px;
    background-color: #252525;
}

.link{
    color: rgb(250, 250, 250, 0.7);
    text-decoration: none;
    box-shadow: 0 0 transparent;
    padding: 0;
    transition: 0.3s;
}

.link:hover{
    box-shadow: 0px 2px #FDC404;
    padding-bottom: 4px;
    transition: 0.3s;
}

@media only screen and (max-width: 1150px){
    section.about {
        width: 784px;
    }
    .profilepicture {
        width: 184px;
        height: 184px;
        border-radius: 12px;
    }
    .about-info h3 {
        font-size: 2.8rem;
    }
    .about-info a, .about-info p {
        font-size: 1.8rem;
    }
    .badge {
        width: 36px;
        height: 36px;
    }
    .table-bottom section:first-child{
        width: 44%;
    }
    .table-head p:first-child{
        width: 43%;
    }
    .table p{
        font-size: 2rem;
    }
    .bottom-table:first-child {
        padding: 16px 24% 16px 16px !important;
    }
    .bottom-table:last-child {
        padding: 16px 0 16px 3% !important
    }
    .table-head p.seccond {
        width: 32%;
    }
    progress{
        width: 55.5vh;
    }
}

@media only screen and (max-width: 800px){
    section.about {
        width: 596px;
        padding-top: 138px;
    }
    .about-info {
        margin-left: 16px;
    }
    .about-info a, .about-info p {
        font-size: 1.6rem;
    }
    .table p {
        font-size: 1.6rem;
    }
    .table-head p:first-child {
        width: 39%;
    }
    .bottom-table:first-child {
        padding: 16px 20% 16px 16px !important;
    }
    progress{
        width: 34.5vh;
        height: 6px;
    }
    .skill-icon{
        background-size: 60% !important;
    }
}

@media only screen and (max-width: 620px){
    section.about{
        width: 286px;
        padding-top: 32px;
    }
    .about-introduction {
        flex-direction: column;
        align-items: center;
    }
    .about-info{
        margin: 0;
        margin-top: 24px;
        align-items: center;
    }
    .text{
        margin-top: 16px;
    }
    .about-info a, .about-info p {
        font-size: 1.4rem;
    }
    .about-info h3 {
        font-size: 2.4rem;
    }
    .table p {
        font-size: 1.2rem;
    }
    .bottom-table:first-child {
        padding: 16px 0 16px 4px !important
    }
    .table-head p.seccond {
        width: 12%;
    }
    .bottom-table:last-child {
        padding: 16px 0 16px 23% !important;
    }
    h4{
        font-size: 1.8em;
    }
    .skill-name {
        margin: 0px 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .skill-name p{
        padding: 0;
        margin: 20px 0;
    }
    progress{
        width: 16vh;
        height: 4px;
    }
    .skill-icon {
        width: 32px;
        height: 32px;
        background-size: 70% !important;
        margin: 10px 0;
    }
}