footer{
    width: 1640px;
    margin: 32px auto;
    border-top: 1px solid #464646;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h4{
    font-family: 'MarkGeo-Regular';
    font-size: 18px;
    color: #464646;
}

footer a{
    color: #464646;
    text-decoration: none;
}

footer div.icon{
    border: 1px solid #464646;
    border-radius: 8px;
}