footer{
    width: 1088px;
    margin: 32px auto 16px auto;
    border-top: 1px solid #464646;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h4{
    font-family: 'MarkGeo-Regular';
    font-size: 18px;
    color: #464646;
}

footer a{
    color: #464646;
    text-decoration: none;
}

footer div.icon{
    border: 1px solid #464646;
    border-radius: 8px;
    width: 32px;
    height: 32px;
}

footer .separate:last-child{
    margin: 0;
    gap: 8px;
}

footer .icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    width: 24px;
}

path.icon-yt{
    fill: #464646;

}

.icon-yt:hover{
    fill: #c4302b;
    transition: 0.3s;
}

path.icon-dr{
    fill: #464646;
}

.icon-dr:hover{
    fill: #ea4c89;
    transition: 0.3s;
}

path.icon-be{
    fill: #464646;
}

.icon-be:hover{
    fill: #053eff;
    transition: 0.3s;
}

path.icon-ig{
    fill: #464646;
}

.icon-ig:hover{
    fill: #E4405F;
    transition: 0.3s;
}

path.icon-fb{
    fill: #464646;
}

svg.icon-fb{
    transform: scale(0.45);
}

.icon-fb:hover{
    fill: #3b5998;
    transition: 0.3s;
}

path.icon-in{
    fill: #464646;
}

.icon-in:hover{
    fill: #0072b1;
    transition: 0.3s;
}

@media only screen and (max-width: 1150px){
    footer {
        width: 784px;
    }
}

@media only screen and (max-width: 800px){
    footer {
        width: 596px;
    }
}

@media only screen and (max-width: 620px){
    footer{
        width: 286px;
        flex-direction: column;
        margin-bottom: 132px;
    }
    footer h4{
        text-align: center;
    }
}