section.posts{
    width: 1628px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.post{
    background: #111;
    cursor: pointer;
}

.post img, .post, .hover{
    width: 532px;
    height: 302px;
    border-radius: 16px;
}

.post img, .hover{
    position: absolute;
}

.post img{
    object-fit: cover;
}

.hover{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    margin-top: -24px;
    opacity: 0;
    transition: 0.3s;
}

.post:hover > .hover{
    opacity: 1;
    transition: 0.3s;
}

.title-board{
    width: 488px;
    height: 64px;
    border-radius: 12px;
    background: #0000005e;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post h3{
    font-family: 'MarkGeoCaps-Bold';
    font-size: 1.8em;
    color: rgb(250, 250, 250);
    margin: 0;
    margin-left: 24px;
    max-width: 250px;
}

.post button{
    background: rgb(253, 196, 3);
    border: 0;
    border-radius: 8px;
    width: 190px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(250, 250, 250);
    font-family: 'MarkGeoCaps-Medium';
    font-size: 18px;
    gap: 12px;
    cursor: pointer;
    margin-right: 16px;
    margin-top: -12px;
}

.icon-external{
    background: url(../media/icons/icon-external.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer{
    width: 1628px;
}

.link{
    text-decoration: none;
}

@media only screen and (max-width: 1650px){
    section.posts, footer{
        width: 1088px;
    }
}

@media only screen and (max-width: 1150px){
    section.posts, footer {
        width: 784px;
    }
    .post img, .post, .hover{
        width: 384px;
        height: 216px;
        border-radius: 16px;
    }
}

@media only screen and (max-width: 800px){
    section.posts, footer, .post img, .post, .hover{
        width: 596px;
    }
    .post img, .post, .hover{
        height: 336px;
    }
}

@media only screen and (max-width: 620px){
    section.posts, footer, .post img, .post, .hover{
        width: 286px;
    }
    .post img, .post, .hover{
        height: 160px;
        border-radius: 8px;
    }
    section.posts{
        margin-top: 12px;
    }
    .hover{
        display: none;
    }
}