.project{
    width: 1640px;
    margin: 0 auto;
    padding-top: 192px;
    margin-bottom: 16px;
}

img.cover, div.cover:last-child{
    width: 1640px;
    height: 274px;
    border-radius: 16px;
    position: absolute;
}

div.cover:last-child{
    background: rgb(0, 0, 0, 0.35);
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);
}

.project-info{
    position: relative;
    z-index: 1;
}

.project-head, .project-bottom{
    color: rgb(250, 250, 250);
    padding: 32px 48px 16px 48px;
    display: flex;
    justify-content: space-between;
}

.project-bottom{
    padding-top: 0;
    gap: 48px;
}

.project-head h1{
    font-family: 'MarkGeoCaps-Bold';
    font-size: 4rem;
    margin: 0;
}

.date{
    font-family: 'MarkGeo-Regular';
    font-size: 1.8rem;
    margin: 0;
    opacity: 0.5;
}

p.tags{
    font-family: 'MarkGeo-Regular';
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 16px;
}

div.tags{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.separate:last-child img{
    width: 950px;
    height: auto;
    border-radius: 24px;
    border: 1px solid #464646;
}

a.tag{
    font-family: 'MarkGeo-SemiBold';
    font-size: 1.8rem;
    color: rgb(21, 21, 21);
    background: rgb(250, 250, 250);
    padding: 12px 16px;
    border-radius: 8px;
}

.project-bottom .separate:first-child{
    flex-direction: column;
    justify-content: space-between;
}

.desc p{
    color: rgb(250, 250, 250);
    margin: 0;
}

.desc p:first-child{
    font-family: 'MarkGeo-Regular';
    font-size: 1.8rem;
    margin-top: 24px;
}

div.desc{
    margin-top: 32px;
}

.desc p:last-child{
    font-family: 'MarkGeo-Medium';
    font-size: 2rem;
    opacity: 0.6;
    margin-top: 16px;
}

.project-bottom button{
    background: rgb(240, 184, 1);
    border-radius: 16px;
    border: 0;
    font-family: 'MarkGeoCaps-Regular', sans-serif;
    font-size: 3.2rem;
    color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    padding: 28px 62px 28px 56px;
    cursor: pointer;
    gap: 8px;
    transition: 0.3s;
}

.project-bottom button:hover{
    background: rgb(210, 161, 0);
    transition: 0.3s;
}

.additional, .additional img{
    width: 1088px;
    margin: 0 auto;
}

.project-bottom button .icon-external{
    width: 32px;
    height: 32px;
    background: url(../media/icons/icon-external-xl.svg);
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1650px){
    .project{
        width: 1088px;
    }
    img.cover, div.cover:last-child{
        width: 1088px;
        height: 274px;
    }
    .project-bottom{
        flex-direction: column-reverse;
        gap: 24px;
    }
    .separate:last-child img {
        width: 100%;
    }
    div.desc {
        margin-top: 16px;
    }
    .desc p:first-child{
        margin-top: 0;
    }
    .project-bottom button{
        margin-top: 16px;
    }
}

@media only screen and (max-width: 1150px){
    .project, img.cover, div.cover:last-child, .additional, .additional img{
        width: 784px;
    }
}

@media only screen and (max-width: 800px){
    .project{
        padding-top: 138px;
    }
    .project, img.cover, div.cover:last-child, .additional, .additional img{
        width: 596px;
    }
    .project-head h1{
        font-size: 2.8rem;
    }
    .date{
        font-size: 1.2rem;
    }
    .separate:last-child img{
        border-radius: 16px;
    }
    a.tag, p.tags, .desc p:first-child{
        font-size: 1.6rem;
    }
    .desc p:last-child{
        font-size: 1.8rem;
    }
    .project-bottom button{
        font-size: 2rem;
    }
    .project-bottom button .icon-external{
        width: 24px;
        height: 24px;
        background-size: contain;
    }
}

@media only screen and (max-width: 620px){
    .project {
        padding-top: 16px;
    }
    .project, img.cover, div.cover:last-child, .additional, .additional img{
        width: 286px;
    }
    img.cover, div.cover:last-child {
        height: 120px;
        border-radius: 8px;
    }
    .separate:last-child img {
        border-radius: 8px;
    }
    .project-head h1 {
        font-size: 2rem;
    }
    p.tags, .desc p:first-child {
        font-size: 1.4rem;
    }
    a.tag {
        font-size: 1.2rem;
        padding: 6px 8px;
        border-radius: 4px;
    }
    .desc p:last-child {
        font-size: 1.2rem;
    }
    .project-bottom button {
        font-size: 1.4rem;
        padding: 14px 36px 14px 28px;
        border-radius: 8px;
        gap: 0;
    }
    .project-bottom button .icon-external {
        width: 32px;
        height: 32px;
    }
    .project-head, .project-bottom{
        padding: 16px 24px 8px 24px;
    }
    .project-bottom{
        padding-top: 4px;
    }
    .project-bottom {
        gap: 12px;
    }
}